<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-nano-sqlite" version="1.0.0">
    <name>NanoSQLite Plugin</name>
    <description>Cordova Device Plugin</description>
    <license>MIT</license>
    <keywords>database, json, collection, records, node, nodejs, sql, orm, nosql, DBMS, data, query, SQLite, JSON, CSV, persistent, immutable, undo, redo, immutablejs, sorting, filtering, filter, sort, somesql, nanosql, levelDB, leveldb, indexeddb, level DB, Indexed DB, trie, tree</keywords>
    <dependency id="cordova-sqlite-storage" version="2.1.4" />
</plugin>